<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>



    <body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Usman Anwar
              </h1>
              <p style="text-align:justify">I am a  PhD student in Computational and Biological Learning lab at Cambridge University, UK. I am broadly interested in AI Safety and Alignment. I am supervised by <a href="https://scholar.google.ca/citations?user=5Uz70IoAAAAJ&hl=en">David Kruger</a> and funded by <a href="https://www.openphilanthropy.org/grants/open-phil-ai-fellowship-2022-class/">Open Phil AI Fellowship</a> and <a href="https://futureoflife.org/team/fellowship-winners-2022/">Vitalik Buterin Fellowship on AI Safety</a>. 
              <p style="text-align:center">
                <a target="_blank" href="https://mailhide.io/e/Mpto2XvD"> Email</a> &nbsp;/&nbsp;
                <a href="https://github.com/uzman-anwar">GitHub</a> &nbsp;/&nbsp;
                <a target="_blank" href="https://scholar.google.com/citations?view_op=list_works&hl=en&user=UBAfLyQAAAAJ">Google Scholar</a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/uzman-anwar/"> LinkedIn </a> &nbsp;/&nbsp;
                <a href="/pdfs/Usman_Anwar.pdf"> CV  </a>
              </p>
              <p>If you want to chat or collaborate with me, please drop me an email.</p>
        <!--<p>My research statement on AI Safety is available <a href="/pdfs/Research_Statement_On_AI_Safety.pdf">here</a>.</p>
        <p>My research statement on Systematic Generalization is available <a href="/pdfs/Research_Proposal_Systematic_Generalization.pdf">here</a>.</p> -->
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="xyz1 photo" src="images/profile_photo_cropped.png">
            </td>
          </tr>
        </table>


<!--                        HIGHLIGHTS/NEWS                   -->



<!--      <table width="100%" align="center" border="0" cellspacing="0" cellpadding="20">
        <tbody><tr><td>
            <h2>Highlights</h2>
            <ul>
		<li><strong>[May 2022] I have joined David Krueger at Cambridge University as an RA+PhD student.</strong></li>
		<li>[April 2022] I have been awarded Vitalik Buterin PhD Fellowship by Future of Life Institute. </li>
            </ul>
        </td></tr>
	    </table>
-->


<!--                        HYPERLINKS TO DIFFERENT PARTS OF SITE                   -->





<!--
        <table width="100%" align="right" border="0" cellspacing="0" cellpadding="20" style="border-collapse: collapse; margin-top:10px">
          <tr style="border-bottom: 2px solid rgb(192, 192, 192)">
          <td width="100%" valign="top" align="middle">
            <a href="#research"><big><b>Research Interests</b></big></a> &emsp;<span>&#183;</span>&emsp;
            <a href="#publication"><big><b>Publications</b></big></a> &emsp;<span>&#183;</span>&emsp;
	        <a href="#notes"><big><b>Notes</b></big></a>
	        <a href="#experiences"><big><b>Experiences</b></big></a> &emsp;<span>&#183;</span>&emsp;
            <a href="#teaching"><big><b>Teaching</b></big></a> &emsp;<span>&#183;</span>&emsp;
            <a href="#volunteering"><big><b>Volunteering</b></big></a>
            </td>
          </td>
          </td>
          </tr>
        </table>

-->





<!--                        RESEARCH INTERESTS                  






	<h2>Research Interests</h2>
             <div id="research" style="width: 100%; margin-top: 10px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; display: inline-block">
             </div>
            <p style="text-align:justify">
			I am primarily interested in studying theoretical and practical aspects of safety and reliability of deep learning and reinforcement learning methods. I am also highly interested in robotics as an application of reinforcement learning.
            </p>

      <br>
 -->




<!--                        PUBLICATIONS                   -->





        <h2>Selected Publications</h2>
          <div id="publication" style="width: 100%; margin-top: 10px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; display: inline-block">
          </div>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="width:100%;vertical-align:middle">
           </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'conference' %}
          <tr>
            <td style="padding:2.5%;padding-bottom:0;width:25%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project1 image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;padding-bottom:0;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arxiv</a> /
              {% endif %}
              {% if post.tweetprint %}
              <a href="{{post.tweetprint}}">tweetprint</a> /
              {% endif %}
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>

<!--  
    *****************************************
    *****************************************
    *****************************************
    UNCOMMENT TO SHOW WORKSHOP PAPERS 
    *****************************************
    *****************************************
    *****************************************
        <h4 style="width:100%">[Workshops]</h4>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="width:100%;vertical-align:middle">
           </td>
          </tr>
</table> 
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'workshop' %}
          <tr>
            <td style="padding:2.5%;padding-top:0;width:25%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project1 image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;padding-top:0;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              <br>
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arxiv</a> /
              {% endif %}
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>


      <br>

-->


<!--                        OTHER PROJECTS                   -->



<!--
       <h2>Other Projects</h2>
	<table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="width:100%;vertical-align:middle">
        
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="width:100%;vertical-align:middle">
              <p> These include coursework and side projects. 
              </p>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'side-project' %}
          <tr>
            <td style="padding:1.0%;width:25%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:1.0%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              <em>{{post.subtitle}}</em>
              <br>
              {{ post.date | date: "%Y-%m-%d" }}

              <br>
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.report %}
              <a href="{{post.report}}">report</a> /
              {% endif %}
             {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.video2 %}
              <a href="{{post.video2}}">video #2</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>

    <br>


    -->
    <!--                       NOTES (Convex Optimization etc.)                    -->



<!--
       <h2>Notes</h2>
          <div id="notes" style="width: 100%; margin-top: 10px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; display: inline-block">
	<table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="width:100%;vertical-align:middle">
        
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="width:100%;vertical-align:middle">
              <p> These include notes on different topics in topics relevant to machine learning.
              </p>
                 <ul>
                     <li> <a href="/pdfs/Notes_On_Convex_Optimization.pdf">Notes</a> on advanced convex optimization. Covers analysis of sub-gradient method, projected gradient method, proximal gradient method and mirror descent. These notes are work in progress and will be updated with new material.</li>
                </ul>
            </td>
          </tr>
        </table>
 

	<hr>
-->




        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://leonidk.com/">Leonid Keselman's website</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

